.create-project{
    height: 100%;
}
.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.form {
    width: auto;
    min-width: 70%;
    height: auto;
    min-height: 80%;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.project-form{
    height: 100%;
}

.form-fields{
    height: 90%;
}

.form-buttons{
    height: 10%;
    align-items: end;
    justify-content: flex-end;
    display: flex;
}

.wrapper .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}

.wrapper h3{
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}